<div class="container-fluid social-feed-container">
  <div class="col-md-12 col-lg-12 col-sm-12  social-feed-body">
    <div class="gen-wrapper">
      <div class="gen-columns">
        <div ng-repeat="card in collectiveSocialFeedController.socialFeedData" class="social-feed-card"
             ng-click="collectiveSocialFeedController.togglePopup(); selected.value = $index; collectiveSocialFeedController.popupData($index)">
          <div class="col-md-12 col-lg-12 col-sm-12  social-card-profile-section">
            <img ng-src="{{card['poster_image']}}" alt="">
            <span class="social-feed-profile-name">{{card['poster_name']}}</span>
            <span class="social-feed-hours-posted">{{collectiveSocialFeedController.getTime(card['external_created_at'])}}</span>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12  social-card-green-line"></div>
          <div class="row  social-card-content-image">
            <img ng-if="!card['image'].isEmpty" ng-src="{{card['image']}}">
            <img ng-if="card['image'].isEmpty" ng-src="../../../assets/img/randomSelectionImages/{{collectiveSocialFeedController.getRandomImage()}}">
          </div>
          <div class="row  social-card-content-text">
            <p ng-bind-html="card['message']"></p>
          </div>
          <div class="row  social-card-footer">
            <div class="social-card-footer-comments-likes">
              <div class="social-card-comment-button">
                <img src="../../../assets/img/comment.svg"/>
                <span>{{card['comment_count']}}</span>
              </div>
              <div class="social-card-like-button">
                <img src="../../../assets/img/like.svg"/>
                <span>{{card['like_count']}}</span>
              </div>
            </div>
            <div class="social-card-source">
              <span>via</span>
              <img ng-src="../../../assets/img/{{card['source']['source']}}.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-if="!collectiveSocialFeedController.busyGettingData" class="loader-button" ng-click="collectiveSocialFeedController.getNextBunchOfData()">
        <p>LOAD MORE</p>
      </div>
      <svg ng-if="collectiveSocialFeedController.busyGettingData" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
                    <animateTransform attributeType="xml"
                                      attributeName="transform"
                                      type="rotate"
                                      from="0 20 20"
                                      to="360 20 20"
                                      dur="0.5s"
                                      repeatCount="indefinite"/>
                </path>
          </svg>
    </div>
  </div>
</div>

<div ng-if="collectiveSocialFeedController.displayPopup" class="container-fluid social-feed-popup-card-container">
  <div class="col-md-12 social-feed-popup-card-row">
    <div class="social-feed-popup-card" ng-click="">
      <div class="col-md-6 social-feed-popup-card-image-side" style="background-image:url({{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['image']}})">
        <!--image set to the background -->
      </div>
      <div class="col-md-6 social-feed-popup-card-content-side">
        <div class="col-md-12 col-lg-12 col-sm-12  social-feed-popup-card-profile-section">
          <img ng-src="{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['poster_image']}}" alt="">
          <span class="social-feed-profile-name">{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['poster_name']}}</span>
          <span class="social-feed-hours-posted">{{collectiveSocialFeedController.getTime(collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['external_created_at'])}}</span>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12  social-card-green-line"></div>
        <div class="col-md-12 social-card-content-text">
          <p ng-bind-html="collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['message']"></p>
        </div>
        <div class="row  social-card-footer">
          <div class="social-card-footer-comments-likes">
            <div class="social-card-comment-button">
              <img src="../../../assets/img/comment.svg"/>
              <span>{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['comment_count']}}</span>
            </div>
            <div class="social-card-like-button">
              <img src="../../../assets/img/like.svg"/>
              <span>{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['like_count']}}</span>
            </div>
          </div>
          <div class="social-card-source">
            <a href="{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['full_url']}}">
              <span>view on {{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['source']['source']}}</span>
            </a>
              <img href="{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['full_url']}}" ng-src="../../../assets/img/{{collectiveSocialFeedController.socialFeedData[collectiveSocialFeedController.selectedIndex]['source']['source']}}.svg">
          </div>
        </div>
        <div class="social-feed-popup-card-divider"></div>
        <div class="social-feed-card-share">
          <h3>SHARE</h3><img class="share-image" src="../../../assets/img/share.svg" alt="share">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{collectiveSocialFeedController.currentURL}}">
            <img src="../../../assets/img/facebook.svg" class="social-share-icon">
          </a>
          <a href="https://twitter.com/home?status={{collectiveSocialFeedController.currentURL}}">
            <img src="../../../assets/img/twitter.svg" class="social-share-icon">
          </a>
          <a href="https://plus.google.com/share?url={{collectiveSocialFeedController.currentURL}}">
            <img src="../../../assets/img/googleplus.svg" class="social-share-icon">
          </a>
          <a href="https://pinterest.com/pin/create/button/?url=&media=&description={{collectiveSocialFeedController.currentURL}}">
            <img src="../../../assets/img/pinterest.svg" class="social-share-icon">
          </a>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{collectiveSocialFeedController.currentURL}}">
            <img src="../../../assets/img/linkedIn.svg" class="social-share-icon">
          </a>
          <a href="mailto:?&body=Go%20checkout%20{{collectiveSocialFeedController.currentURL}}">
            <img src="../../../assets/img/mail.svg" class="social-share-icon">
          </a>
        </div>
        <div ng-click="collectiveSocialFeedController.togglePopup()" class="social-feed-popup-card-close">
          <p>Close</p>
          <img src="../../../assets/img/close.svg">
        </div>
        <div class="social-feed-popup-card-navigation">
          <img ng-click="collectiveSocialFeedController.moveLeft()" src="../../../assets/img/arrow-left.svg">
          <img ng-click="collectiveSocialFeedController.moveRight()" src="../../../assets/img/arrow-right.svg">
        </div>
      </div>
    </div>
  </div>
</div>
