svg {
  margin: 54px auto;
  display: block;
}

svg path,
svg rect{
  fill: #6eab24;
}

.social-feed-container{
  padding: 0;
  margin: 0;

  .social-feed-body {
    background-color: #F9F9F9;
    padding: 0;
    margin: 0;

    .social-feed-card {
      // pinterest like column setup
      display: inline-block;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      column-break-inside: avoid;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      //
      //overflow: hidden;
      max-width: 358px;
      background-color: #fff;
      border-radius: 9px;
      background-color: #fff;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
      padding: 0 0 25px 0;
      margin: 0 15px 15px 0;

      .social-card-profile-section{
        padding: 0;

        img {
          height: 30px;
          width: 30px;
          border-radius: 100%;
          margin: 13px 13px 13px 25px;
          vertical-align:middle;
          float: left;
        }

        .social-feed-profile-name{
          text-transform: uppercase;
          font-family: 'Futura-Bold';
          font-size: 14px;
          color: #57595b;
          text-align: left;
          line-height: 14px;
          overflow: hidden;
          white-space:nowrap;
          text-overflow:ellipsis;
          max-width: calc(100% - 175px);
          display: block;
          float: left;
          margin: 21px 0;
        }

        .social-feed-hours-posted{
          color: #C1C1C1;
          font-family: 'Futura-Light';
          font-size: 14px;
          margin: 21px 25px 21px 1px;
          color: #bec0c2;
          float: right;
          line-height: 14px;
        }
      }

      .social-card-green-line{
        overflow: hidden;
        height: 2px;
        background: #006150; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-270deg, #6eab24, #006150); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-270deg, #6eab24, #006150); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-270deg, #6eab24, #006150); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-270deg, #6eab24, #006150); /* Standard syntax */
      }

      .social-card-content-image{
        margin: 0;
        padding: 0;

        img {
          width: 100%;
        }
      }

      .social-card-content-text{
        overflow: hidden;
        margin: 15px 25px 28px 25px;
        font-family: 'Futura-Light';
        font-size: 16px;
        color: #57595b;
        text-align: left;
        line-height: 24px;
        padding: 0;

        p {
          margin: 0;
        }
      }

      .social-card-footer {
        position: relative;
        text-align: center;
        margin: 25px 25px 0;
        color: #bec0c2;
        font-family: 'Futura-Light';
        font-size: 14px;
        min-height: 22px;
        padding: 0;

        .social-card-footer-comments-likes{
          float: left;
          margin: auto 0;
          vertical-align: baseline;
          display: block;

          .social-card-comment-button {
            display: inline-block;
            margin: 4px 20px 0 0;
            img {
              vertical-align: baseline;
              margin-right: 5px;
              height: 14px;
              width: 16px;
            }
          }

          .social-card-like-button {
            display: inline-block;
            img {
              vertical-align: baseline;
              margin-right: 5px;
              height: 16px;
              width: 18px;
            }
          }

          span {
            font-size: 14px;
          }
        }

        .social-card-source{
          color: #C1C1C1;
          font-weight: 200;
          float: right;
          font-size: 14px;

          span {
            vertical-align:middle;
          }

          img {
            vertical-align:middle;
            height: 22px;
            width: 22px;
          }
        }
      }

    }

    .gen-wrapper {
      width: 90%;
      max-width: 1100px;
      margin: 50px auto;
    }

    .gen-columns {
      -webkit-column-count: 3;
      -webkit-column-gap: 10px;
      -webkit-column-fill: auto;
      -moz-column-count: 3;
      -moz-column-gap: 10px;
      -moz-column-fill: auto;
      column-count: 3;
      column-gap: 15px;
      column-fill: auto;
    }

    @media (max-width: 992px) {
      .gen-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
      }
    }

    .social-feed-card:hover {
      cursor: pointer;
      cursor: hand;
      opacity: 0.4;
    }

    .loader-button {
      height: 41px;
      width: 240px;
      background-color: #6eab24;
      border-radius: 9px;
      margin: 54px auto;
      position: relative;
      top: 0; left: 0; bottom: 0; right: 0;

      p {
        text-align: center;
        vertical-align: middle;
        line-height: 41px;
        color: #fff;
        font-family: 'Futura-Light';
        font-size: 18px;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

.social-feed-popup-card-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
  padding: 0;

  .social-feed-popup-card-row {
    position: fixed;
    min-width: 100%;
    height: 500px;
    left: 0;
    top: calc(50% - 250px);

    .social-feed-popup-card {
      position: fixed;
      width: 978px;
      max-height: 550px;
      left:0; right:0;
      top:0; bottom:0;
      margin:auto;
      background-color: #fff;
      border-radius: 9px;
      z-index: 10;
      overflow: hidden;

      .social-feed-popup-card-image-side {
        min-height: 550px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .social-feed-popup-card-content-side {
        position: relative;
        padding: 0;
        height: 550px;

        .social-feed-popup-card-profile-section{
          padding: 0;

          img{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            margin: 13px 13px 13px 25px;
            vertical-align:middle;
            float: left;
          }

          .social-feed-profile-name{
            text-transform: uppercase;
            font-family: 'Futura-Bold';
            font-size: 14px;
            color: #57595b;
            text-align: left;
            line-height: 14px;
            overflow: hidden;
            white-space:nowrap;
            text-overflow:ellipsis;
            width:170px;
            display: block;
            float: left;
            margin: 21px 0;
          }

          .social-feed-hours-posted{
            color: #C1C1C1;
            font-family: 'Futura-Light';
            font-size: 14px;
            margin: 21px 25px 21px 5px;
            color: #bec0c2;
            float: right;
            line-height: 14px;
          }

        }

        .social-card-green-line{
          overflow: hidden;
          height: 2px;
          background: #006150; /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(-270deg, #6eab24, #006150); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(-270deg, #6eab24, #006150); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(-270deg, #6eab24, #006150); /* For Firefox 3.6 to 15 */
          background: linear-gradient(-270deg, #6eab24, #006150); /* Standard syntax */
        }

        .social-card-content-image{
          margin: 0;
          padding: 0;

          img {
            width: 100%;
          }
        }

        .social-card-content-text{
          padding: 0;
          overflow: hidden;
          padding: 15px 25px 28px 25px;
          font-family: 'FuturaLT';
          font-size: 16px;
          color: #57595b;
          text-align: left;
          line-height: 24px;

          p {
            margin: 0;
          }
        }

        .social-card-footer {
          position: relative;
          text-align: center;
          margin: 25px 25px 0;
          color: #bec0c2;
          font-family: 'Futura-Light';
          font-size: 14px;
          min-height: 22px;
          padding: 0;

          .social-card-footer-comments-likes{
            float: left;
            margin: auto 0;
            vertical-align: baseline;
            display: block;

            .social-card-comment-button {
              display: inline-block;
              margin: 4px 20px 0 0;
              img {
                vertical-align: baseline;
                margin-right: 5px;
                height: 14px;
                width: 16px;
              }
            }

            .social-card-like-button {
              display: inline-block;
              img {
                vertical-align: baseline;
                margin-right: 5px;
                height: 16px;
                width: 18px;
              }
            }

            span {
              font-size: 14px;
            }
          }

          .social-card-source{
            color: #C1C1C1;
            font-weight: 200;
            float: right;
            font-size: 14px;

            span {
              vertical-align:middle;
              text-transform: lowercase;
              margin-right: 13px;
              text-decoration: underline;
            }

            img {
              vertical-align:middle;
              height: 22px;
              width: 22px;
            }
          }
        }

        .social-feed-popup-card-divider {
          height: 1px;
          background-color: #bec0c2;
          margin: 19px 25px;
        }

        .social-feed-card-share {
          margin: 19px 25px;
          height: 22px;

          h3 {
            font-family: 'Futura-Light';
            font-size: 14px;
            color: #006150;
            line-height: 14px;
            margin: 0 6px 0 0;
            float: left;

          }

          .share-image {
            float: left;
            margin-right: 15px;
          }

          .social-share-icon {
            float: left;
            margin-right: 15px;
          }
        }

        .social-feed-popup-card-close{
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0 25px 25px;

           p{
             font-family: 'Futura-Light';
             font-size: 14px;
             color: #bec0c2;
             text-align: left;
             line-height: 14px;
             float: left;
             margin: 3px 10px 0 0;
           }

          img {
            float: left;
          }

          :hover {
            cursor: pointer;
            cursor: hand;
          }
        }

        .social-feed-popup-card-navigation{
          position: absolute;
          bottom: 0;
          left: 0;
          margin: 0 25px 25px;

          img {
            float: left;
            margin-right: 30px;
          }
        }
      }
    }
  }
}