@font-face {
  font-family: 'Futura-Light';
  src: url('../assets/fonts/Futura-Light.woff');
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('../assets/fonts/Futura-Bold.woff');
}

body {
  //background-color: #122b40;
  background-color: #fff;
}